.book-page {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card h3 {
  margin-top: 0;
  color: #007bff;
}

.book-card p {
  margin: 5px 0;
  color: #555;
}

.book-card p strong {
  color: #333;
}

.sort-options {
  text-align: center;
  margin-bottom: 20px;
}

.sort-options button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-options button:hover {
  background-color: #0056b3;
}


.logout-container {
  text-align: right;
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c82333;
}

